#cardBackground
{
    background-color:#663300;
    color:ivory
}
#subjectSpan
{
    margin-left: 150px;
}
#genderSpan
{
    margin-left: 150px;
}
#termsSpan
{
    margin-left: 150px;
}
div .last
{
    margin-left: 20px;
}

